<form [formGroup]="form" (ngSubmit)="submit()">

  <div class="p-grid">
    <p-card class="p-col-3" *ngFor="let partName of burnPartNames" [formGroupName]="partName" [header]="partName">
      <div>
        <label for="burn">Burn</label>
        <div class="input-padding">
          <p-slider id="burn" formControlName="burn" [min]="0" [max]="255" [style]="{'width':'14em'}"></p-slider>
        </div>
      </div>
      <div>
        <label for="strobe">Strobe</label>
        <div class="input-padding">
          <p-slider id="strobe" formControlName="strobe" [min]="0" [max]="255" [style]="{'width':'14em'}"></p-slider>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-6">
          <label for="color">Primary</label>
          <div class="input-padding">
            <p-colorPicker id="color" formControlName="color" format="rgb"></p-colorPicker>
          </div>
        </div>
        <div class="p-col-6">
          <label for="secondary-color">Secondary</label>
          <div class="input-padding">
            <p-colorPicker id="secondary-color" formControlName="secondarycolor" format="rgb"></p-colorPicker>
          </div>
        </div>
      </div>
    </p-card>
  </div>

  <div>
    <p-button type="submit" label="Configure" [disabled]="!canConfigure"></p-button>
  </div>
</form>
