<form [formGroup]="form" (ngSubmit)="submit()">
  <div>
    <label for="ratio">Ratio</label>
    <div class="input-padding">
      <p-slider id="ratio" formControlName="ratio" [min]="0" [max]="255" [style]="{'width':'14em'}"></p-slider>
    </div>
  </div>
  <div>
    <label for="speed">Speed</label>
    <div class="input-padding">
      <p-slider id="speed" formControlName="speed" [min]="0" [max]="255" [style]="{'width':'14em'}"></p-slider>
    </div>
  </div>
  <div>
    <label for="color">Color</label>
    <div class="input-padding">
      <p-colorPicker id="color" formControlName="color" format="rgb"></p-colorPicker>
    </div>
  </div>
  <div>
    <p-button type="submit" label="Configure" [disabled]="!canConfigure"></p-button>
  </div>
</form>
