<p-button *ngIf="hasPower" type="button" label="Turn Off" styleClass="ui-button-warning" (onClick)="setPower(false)"
          icon="fa fa-lightbulb-o">
</p-button>
<p-button *ngIf="!hasPower" type="button" label="Turn On" styleClass="ui-button-success" (onClick)="setPower(true)"
          icon="fa fa-lightbulb-o">
</p-button>
<p-button type="button" label="Shutdown" class="pl-10" styleClass="ui-button-danger" (onClick)="shutdown()"
          icon="fa fa-power-off">
</p-button>
