<p-tabMenu [model]="modeItems"></p-tabMenu>

<p-toolbar>
  <div class="ui-toolbar-group-left">
    <p-button type="button" label="Activate" (onClick)="activateSelectedMode()"></p-button>
    <p-checkbox class="pl-10" label="Auto Update" binary="true" (onChange)="setAutoUpdate($event)"></p-checkbox>
  </div>


  <div class="ui-toolbar-group-right">
    <app-power></app-power>
  </div>
</p-toolbar>

<p-panel>
  <router-outlet></router-outlet>
</p-panel>
