<form [formGroup]="form" (ngSubmit)="submit()">
  <div>
    <label for="length">Length</label>
    <div class="input-padding">
      <p-spinner id="length" formControlName="length" [min]="1" [max]="20"></p-spinner>
    </div>
  </div>
  <div>
    <label for="gap">Gap</label>
    <div class="input-padding">
      <p-spinner id="gap" formControlName="gap" [min]="1" [max]="20"></p-spinner>
    </div>
  </div>
  <div>
    <label for="speed">Speed</label>
    <div class="input-padding">
      <p-slider id="speed" formControlName="speed" [min]="0" [max]="255" [style]="{'width':'14em'}"></p-slider>
    </div>
  </div>
  <div>
    <label for="color">Color</label>
    <div class="input-padding">
      <p-colorPicker id="color" formControlName="color" format="rgb"></p-colorPicker>
    </div>
  </div>
  <div>
    <p-button type="submit" label="Configure" [disabled]="!canConfigure"></p-button>
  </div>
</form>
